<?xml version="1.0"?>

<launch>
	<!--define obstacle with x y z. orientation is the same as 'world'
		used for creating tf and for visualisation markers in rviz

		access value via $(arg obstacle_x)
	-->

	<!-- robot description -->
	<!--param name="robot_description" command="$(find xacro)/xacro.py '$(find ipa325_robot_descriptions)/urdf/cells/empty/ipa325_lbr4_empty.urdf.xacro'" /-->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find versuche)/urdf/lbr4_versuche.urdf.xacro'" />

	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find versuche)/launch/versuchakreis.rviz"/>

	<!-- robot state publisher -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />



	<!-- publish markers to show static objects in rviz
		 type: ARROW=0
			   CUBE=1
			   SPHERE=2
			   CYLINDER=3
			   LINE_STRIP=4
			   LINE_LIST=5
			   CUBE_LIST=6
			   SPHERE_LIST=7
			   POINTS=8
			   TEXT_VIEW_FACING=9
			   MESH_RESOURCE=10
			   TRIANGLE_LIST=11
	-->

	<!-- trace tf publisher -->
	<node name="$(anon trace_publisher)" pkg="ipa325_tf_trace_publisher" type="trace_publisher.py" output="screen">
		<param name="tf_parent" value="/base_link"/>
		<param name="tf_child" value="/tool_center"/>
		<param name="color_Red" value="0.0"/>
		<param name="color_Green" value="1.0"/>
		<param name="color_Blue" value="0.0"/>
		<param name="color_Alpha" value="1.0"/>
		<param name="scale_X" value="0.003"/>
		<param name="scale_Y" value="0.02"/>
		<param name="scale_Z" value="0.02"/>
		<param name="max_length" value="50"/>
		<param name="rate" value="10"/>
		<param name="id" value="1"/>
	</node>

	<node pkg="ipa325_tf_utils" type="moving_tf_frame.py" name="moving_tf" output="screen">
		<param name="tf_parent" 	value="world" 		type="str"/>
		<param name="tf_child" 		value="moving_tf" 	type="str"/>

		<!-- choose either: line, circle or spiral-->
		<param name="movement_type"	value="circle" 		type="str"/>

		<param name="move_frame_roll" 	value="0" 		type="double" />
		<param name="move_frame_pitch" 	value="3.14159265" 	type="double" />
		<param name="move_frame_yaw" 	value="0" 		type="double" />

		<!-- circle parameters -->
		<param name="x_center_c" 	value="0.50" 	type="double" />
		<param name="y_center_c" 	value="-0.15" 		type="double" />
		<param name="z_center_c" 	value="0.20" 	type="double" />
		<param name="radius" 		value="0.10" 	type="double" />

		<!-- time parameters -->
		<param name="time_steps_hz" value="100" 	type="double" />
		<param name="speed"			value="0.2" 	type="double" />
		<param name="stop_time" 	value="0" 		type="double" />

		<!-- trace parameters -->
		<param name="show_path" 	value="True" 	type="bool" />
		<param name="trace_scale"	value="0.003" 	type="double" />

		<param name="trace_color_r" value="0" 		type="double" />
		<param name="trace_color_g" value="0" 		type="double" />
		<param name="trace_color_b" value="1" 		type="double" />
		<param name="trace_color_a" value="1" 		type="double" />
	</node>
</launch>
