<?xml version="1.0"?>

<launch>
	<!--define obstacle with x y z. orientation is the same as 'world'
		used for creating tf and for visualisation markers in rviz

		access value via $(arg obstacle_x)
	-->
	<arg name="obstacle_x" value="0.4" />
	<arg name="obstacle_y" value="-0.15" />
	<arg name="obstacle_z" value="0.10" />

	<!-- robot description -->
	<!--param name="robot_description" command="$(find xacro)/xacro.py '$(find ipa325_robot_descriptions)/urdf/cells/empty/ipa325_lbr4_empty.urdf.xacro'" /-->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find versuche)/urdf/lbr4_versuche.urdf.xacro'" />

	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find versuche)/launch/versuchckreis.rviz"/>

	<!-- robot state publisher -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

	<node name="tf_obstacle_broadcaster" pkg="tf_obstacle_broadcaster" type="tf_obstacle_broadcaster.py">
		<param name="obstacle_init_x" value="$(arg obstacle_x)"/>
		<param name="obstacle_init_y" value="$(arg obstacle_y)"/>
		<param name="obstacle_init_z" value="$(arg obstacle_z)"/>
		<param name="obstacle_init_a" value="0"/>
		<param name="obstacle_init_b" value="0"/>
		<param name="obstacle_init_c" value="0"/>
	</node>


	<!-- publish markers to show static objects in rviz
		 type: ARROW=0
			   CUBE=1
			   SPHERE=2
			   CYLINDER=3
			   LINE_STRIP=4
			   LINE_LIST=5
			   CUBE_LIST=6
			   SPHERE_LIST=7
			   POINTS=8
			   TEXT_VIEW_FACING=9
			   MESH_RESOURCE=10
			   TRIANGLE_LIST=11
	-->

	<node name="marker_publisher" pkg="marker_publisher" type="marker_publisher.py">
		<param name="number" value="2"/>

		<param name="namespace_0" value="Kugel"/>
		<param name="id_0" value="33"/>
		<param name="type_0" value="2"/>
		<param name="action_0" value="0"/>
		<param name="x_0" value="$(arg obstacle_x)"/>
		<param name="y_0" value="$(arg obstacle_y)"/>
		<param name="z_0" value="$(arg obstacle_z)"/>
		<param name="scale_x_0" value="0.2"/>
		<param name="scale_y_0" value="0.2"/>
		<param name="scale_z_0" value="0.2"/>
		<param name="red_0" value="1.0"/>
		<param name="green_0" value="0.0"/>
		<param name="blue_0" value="0.0"/>
		<param name="alpha_0" value="0.3"/>

		<param name="namespace_1" value="Punkt"/>
		<param name="id_1" value="44"/>
		<param name="type_1" value="2"/>
		<param name="action_1" value="0"/>
		<param name="x_1" value="$(arg obstacle_x)"/>
		<param name="y_1" value="$(arg obstacle_y)"/>
		<param name="z_1" value="$(arg obstacle_z)"/>
		<param name="scale_x_1" value="0.02"/>
		<param name="scale_y_1" value="0.02"/>
		<param name="scale_z_1" value="0.02"/>
		<param name="red_1" value="1"/>
		<param name="green_1" value="0"/>
		<param name="blue_1" value="0"/>
		<param name="alpha_1" value="1"/>
		<!-- 
		<param name="namespace_2" value="Linie"/>
		<param name="id_2" value="55"/>
		<param name="type_2" value="4"/>
		<param name="action_2" value="0"/>
		<param name="start_x_2" value="0.15"/>
		<param name="start_y_2" value="-0.1"/>
		<param name="start_z_2" value="0.1"/>
		<param name="end_x_2" value="0.70"/>
		<param name="end_y_2" value="-0.3"/>
		<param name="end_z_2" value="0.4"/>
		<param name="scale_x_2" value="0.003"/>
		<param name="red_2" value="0.66"/>
		<param name="green_2" value="0.66"/>
		<param name="blue_2" value="0.66"/>
		<param name="alpha_2" value="1"/>-->
	</node>
	-->
	<!-- trace tf publisher -->
	<node name="$(anon trace_publisher)" pkg="ipa325_tf_trace_publisher" type="trace_publisher.py" output="screen">
		<param name="tf_parent" value="/base_link"/>
		<param name="tf_child" value="/tool_center"/>
		<param name="color_Red" value="0.0"/>
		<param name="color_Green" value="1.0"/>
		<param name="color_Blue" value="0.0"/>
		<param name="color_Alpha" value="1.0"/>
		<param name="scale_X" value="0.003"/>
		<param name="scale_Y" value="0.02"/>
		<param name="scale_Z" value="0.02"/>
		<param name="max_length" value="50"/>
		<param name="rate" value="10"/>
		<param name="id" value="1"/>
	</node>

	<node pkg="ipa325_tf_utils" type="moving_tf_frame.py" name="moving_tf" output="screen">
		<param name="tf_parent" 	value="world" 		type="str"/>
		<param name="tf_child" 		value="moving_tf" 	type="str"/>

		<!-- choose either: line, circle or spiral-->
		<param name="movement_type"	value="circle" 		type="str"/>

		<param name="move_frame_roll" 	value="0" 		type="double" />
		<param name="move_frame_pitch" 	value="3.14159265" 	type="double" />
		<param name="move_frame_yaw" 	value="0" 		type="double" />

		<!-- circle parameters -->
		<param name="x_center_c" 	value="0.40" 	type="double" />
		<param name="y_center_c" 	value="0" 		type="double" />
		<param name="z_center_c" 	value="0.12" 	type="double" />
		<param name="radius" 		value="0.15" 	type="double" />

		<!-- time parameters -->
		<param name="time_steps_hz" value="100" 	type="double" />
		<param name="speed"			value="0.2" 	type="double" />
		<param name="stop_time" 	value="0" 		type="double" />

		<!-- trace parameters -->
		<param name="show_path" 	value="True" 	type="bool" />
		<param name="trace_scale"	value="0.003" 	type="double" />

		<param name="trace_color_r" value="0" 		type="double" />
		<param name="trace_color_g" value="0" 		type="double" />
		<param name="trace_color_b" value="1" 		type="double" />
		<param name="trace_color_a" value="1" 		type="double" />
	</node>
</launch>
